# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Visual Studio build files
/Client/Debug
/Client/Client/Debug

rtype_server
rtype_client

# build
build
build-android
Build
Android
RtypeSRC/build
RtypeSRC/Build

Client/sfml