# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Visual Studio build files
## Client
/Client/Debug
/Client/Client/Debug
##Server
/Debug


rtype_server
Rtype_server
rtype_client

# build
build
build-android
Build
Android
RtypeSRC/build
RtypeSRC/buildWindows
RtypeSRC/Build

.DS_Store
